* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: linear-gradient(to right, rgb(51, 51, 205), rgba(50, 209, 248, 0.805));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    letter-spacing: 5px;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.imgContainer img {
    max-width: 90%;
}

.info {
    margin-top: 25px;
}

.number {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 3px 10px;
    font-weight: bold;
}

.name {
    margin: 15px 0px 7px;
    letter-spacing: 1.5px;
}